.header-topbar-bg{
  background: #ddd;
  padding: 5px 0px;
  .header-topbar-area a,
  .header-topbar-area p,
  .header-topbar-area li{
    color: #2b2b2b
  }
  .header-topbar-area{
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
.header-topbar-area{
  .topbar-left-navbar{
    width: 25%;
    ul{
      margin: 0;
      float: left;
      padding: 0;
      li {
        list-style: none;
        float: left;
        margin-right: 15px;
        font-size: 13px;
      }
    }
  }
  .topbar-right-navbar{
    width: 25%;
    ul{
      margin: 0;
      float: right;
      padding: 0;
      li {
        list-style: none;
        float: left;
        margin-right: 15px;
        font-size: 14px;
        a {
          font-size: 22px;
          margin: 0;
          padding: 0;
          line-height: 0;
        }
      }
    }
  }
  .topbar-center-navbar{
    width: 50%;
    p{
      margin: 0;
    }
  }
}

// Header Tob responcive area 
@media (max-width: 450px){
  .topbar-left-navbar {
    width: 70%;
  }
  .topbar-right-navbar {
    width: 30%;
  }
  .topbar-center-navbar {
    display: none;
  }
}